/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
	#RPsbs-2278,
	#RPsbsr-2278 {
		background-color: #f7f7f7;
		padding: var(--sectionPadding);
		/* clips the green background pseudo from overflowing the section */
		overflow: hidden;
		display: flex;
		flex-direction: column;
		align-items: center;
		/* 48px - 64px, changed clamp at Desktop */
		gap: clamp(3rem, 6vw, 4rem);
		position: relative;
		z-index: 1;
	}
	#RPsbs-2278 .cs-header,
	#RPsbsr-2278 .cs-header {
		width: 100%;
		/* changes to 1280px at Desktop */
		max-width: 43.75rem;
		margin: auto;
	}
	#RPsbs-2278 .cs-container,
	#RPsbsr-2278 .cs-container {
		width: 100%;
		/* changes to 1280px at tablet */
		max-width: 43.75rem;
		margin: auto;
		padding: var(--sectionPadding);
		padding-left: 0;
		padding-right: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		/* 48px - 64px, changed clamp at tablet */
		gap: clamp(3rem, 6vw, 4rem);
		position: relative;
		z-index: 1;
	}
	#RPsbs-2278 .cs-container:before,
	#RPsbsr-2278 .cs-container:before {
		/* green background */
		content: "";
		width: 100vw;
		height: 100%;
		background: #fff;
		opacity: 1;
		position: absolute;
		display: block;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		z-index: -1;
	}
	#RPsbs-2278 .cs-content,
	#RPsbsr-2278 .cs-content {
		/* set text align to left if content needs to be left aligned */
		text-align: left;
		width: 100%;
		max-width: 42.875rem;
		display: flex;
		flex-direction: column;
		/* centers content horizontally, set to flex-start to left align */
		align-items: flex-start;
	}
	#RPsbs-2278 .cs-title,
	#RPsbsr-2278 .cs-title {
		margin: 0;
		max-width: 24ch;
	}
	#RPsbs-2278 .cs-h3,
	#RPsbsr-2278 .cs-h3 {
		/* 25px - 39px */
		font-size: clamp(1.5625rem, 4vw, 2.4375rem);
		line-height: 1.2em;
		margin: 0 0 1rem;
		color: var(--headerColor);
	}
	#RPsbs-2278 .cs-text,
	#RPsbsr-2278 .cs-text {
		margin-bottom: 1rem;
		/* uncomment this style if you remove the list for consistent styling*/
	}
	#RPsbs-2278 .cs-heading,
	#RPsbsr-2278 .cs-heading {
		font-size: 1rem;
		line-height: 1.2em;
		font-weight: 700;
		margin: 0 0 1rem;
		color: var(--headerColor);
	}
	#RPsbs-2278 .cs-ul,
	#RPsbsr-2278 .cs-ul {
		width: 100%;
		margin: 0 0 2rem 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 0.5rem;
	}
	#RPsbs-2278 .cs-li,
	#RPsbsr-2278 .cs-li {
		list-style: none;
		font-size: 1rem;
		line-height: 1.5em;
		color: var(--bodyTextColor);
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 0.75rem;
		position: relative;
		z-index: 1;
	}
	#RPsbs-2278 .cs-li:before,
	#RPsbsr-2278 .cs-li:before {
		content: "";
		width: 0.5rem;
		height: 0.5rem;
		margin-top: 0.4375rem;
		background: var(--secondary);
		opacity: 1;
		display: block;
		flex: none;
		transform: rotate(45deg);
	}
	#RPsbs-2278 .cs-number,
	#RPsbsr-2278 .cs-number {
		/* 14px - 16px */
		font-size: clamp(0.875rem, 1.6vw, 1rem);
		font-weight: 700;
		/* 24px - 28px */
		width: clamp(1.5rem, 2.9vw, 1.75rem);
		height: clamp(1.5rem, 2.9vw, 1.75rem);
		margin-right: 0.75rem;
		border-radius: 50%;
		background: var(--headerColor);
		color: var(--primary);
		display: flex;
		justify-content: center;
		align-items: center;
		/* we set this element to align to the top of the li, so if there's 
            multiple lines it will stay at the top instead of the center of the text */
		align-self: flex-start;
		/* prevents flexbox from squishing it */
		flex: none;
	}
	#RPsbs-2278 .cs-button-solid,
	#RPsbsr-2278 .cs-button-solid {
		font-size: 1rem;
		/* 46px - 56px */
		line-height: clamp(2.875rem, 5.5vw, 3.5rem);
		text-decoration: none;
		font-weight: 700;
		text-align: center;
		margin: 0;
		color: var(--bodyTextColorWhite);
		min-width: 9.375rem;
		padding: 0 1.5rem;
		background-color: var(--primary);
		display: inline-block;
		position: relative;
		z-index: 1;
		/* prevents padding from adding to the width */
		box-sizing: border-box;
		transition: color 0.3s;
	}
	#RPsbs-2278 .cs-button-solid:before,
	#RPsbsr-2278 .cs-button-solid:before {
		content: "";
		position: absolute;
		height: 100%;
		width: 0%;
		background: #000;
		opacity: 1;
		top: 0;
		left: 0;
		z-index: -1;
		border-radius: 0.25rem;
		transition: width 0.3s;
	}
	#RPsbs-2278 .cs-button-solid:hover,
	#RPsbsr-2278 .cs-button-solid:hover {
		color: #fff;
	}
	#RPsbs-2278 .cs-button-solid:hover:before,
	#RPsbsr-2278 .cs-button-solid:hover:before {
		width: 100%;
	}
	#RPsbs-2278 .cs-picture,
	#RPsbsr-2278 .cs-picture {
		width: 100%;
		height: 91.14vw;
		max-height: 22.5rem;
		margin: 0;
		position: relative;
		display: block;
	}
	#RPsbs-2278 .cs-picture img,
	#RPsbsr-2278 .cs-picture img {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		object-fit: contain;
	}
}
/* Desktop - 768px */
@media only screen and (min-width: 64rem) {
	#RPsbs-2278 .cs-header,
	#RPsbsr-2278 .cs-header {
		max-width: 80rem;
	}
	#RPsbs-2278 .cs-container,
	#RPsbsr-2278 .cs-container {
		max-width: 80rem;
		flex-direction: row;
		justify-content: space-between;
		align-items: stretch;
	}
	#RPsbs-2278 .cs-container:before,
	#RPsbsr-2278 .cs-container:before {
		/* 110px - 335px */
		margin-left: calc(clamp(110px, 14vw, 335px) * -1);
		left: 50%;
		transform: none;
	}
	#RPsbs-2278 .cs-picture,
	#RPsbsr-2278 .cs-picture {
		max-width: 32.625rem;
		height: auto;
		max-height: 100%;
	}
}

/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
	#RPsbsr-2278 {
		padding-top: 0;
		padding-bottom: 0;
	}
}
/* Desktop - 768px */
@media only screen and (min-width: 64em) {
	#RPsbsr-2278 {
		padding: var(--sectionPadding);
		padding-top: 0;
	}
	#RPsbsr-2278 .cs-container {
		justify-content: flex-end;
	}
	#RPsbsr-2278 .cs-container:before {
		margin-left: 0;
		/* 110px - 335px */
		margin-right: calc(clamp(110px, 14vw, 335px) * -1);
		right: 50%;
		left: auto;
		transform: none;
	}
	#RPsbsr-2278 .cs-picture {
		/* sends it to the right in the 2nd position */
		order: 2;
	}
}
