.contactContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.contactHero {
	background-color: var(--color-primary);
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.blurbContainer {
	margin: 20px 0;
	padding: 10px;
	border-radius: 8px;
	width: 100%;
	background-color: var(--color-background);
	box-sizing: border-box;
	max-width: 800px;
}

.contactBlurb {
	font-size: 1.5rem;
	line-height: 1.6;
	color: var(--color-text-dark);
	text-align: center;
	margin: 0;
	padding: 0 20px;
}
.contactTitle {
	margin: 0;
	margin-top: 3rem;
}

.contactFormContainer {
	width: 100%;
	max-width: 800px;
	box-sizing: border-box;
	border-radius: var(--corner-radius);
	margin-bottom: 2rem;
}

.otherWaysToFindMeSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 2rem;
	background-color: var(--color-background);
	margin: 2rem;
	box-sizing: border-box;
}

.otherWaysToFindMeHeading {
	font-size: 2rem;
	color: var(--color-text-dark);
	text-align: center;
	max-width: 800px;
	padding: 1rem;
	margin: 0;
}
.contactInfo {
	text-wrap: wrap;
	font-size: 1.5rem;
}
.contactInfoItem {
	line-height: 1.6;
	color: var(--color-text-dark);
	text-align: center;
	max-width: 800px;
	margin: 0;
}

.extraPadding {
	margin-bottom: 6rem;
}

@media (max-width: 767px) {
	.contactInfo {
		font-size: 1rem;
		text-align: center;
	}
	.contactBlurb {
		font-size: 1.25rem;
	}
	.extraPadding {
		margin-bottom: 2rem;
	}
}
