:root {
	--primary: #a42929;
	--primaryLight: #ffba43;
	--secondary: #e5e5e5;
	--secondaryLight: #ffba43;
	--headerColor: #1a1a1a;
	--bodyTextColor: #4e4b66;
	--bodyTextColorWhite: #fafbfc;
	/* 13px - 16px */
	--topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
	/* 31px - 49px */
	--headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
	--bodyFontSize: 1rem;
	/* 60px - 100px top and bottom */
	--sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem);
}

body {
	margin: 0;
	padding: 0;
	font-family: "Roboto, sans-serif";
}

*,
*:before,
*:after {
	/* prevents padding from affecting height and width */
	box-sizing: border-box;
}
.cs-topper {
	font-size: var(--topperFontSize);
	line-height: 1.2em;
	text-transform: uppercase;
	text-align: inherit;
	letter-spacing: 0.1em;
	font-weight: 700;
	color: var(--primary);
	margin-bottom: 0.25rem;
	display: block;
}

.cs-title {
	font-size: var(--headerFontSize);
	font-weight: 900;
	line-height: 1.2em;
	text-align: inherit;
	max-width: 43.75rem;
	margin: 0 0 1rem 0;
	color: var(--headerColor);
	position: relative;
}

.cs-text {
	font-size: var(--bodyFontSize);
	line-height: 1.5em;
	text-align: inherit;
	width: 100%;
	max-width: 40.625rem;
	margin: 0;
	color: var(--bodyTextColor);
}

.mobile {
	display: none;
}
.desktop {
	display: flex;
}

.cs-button-solid {
	font-size: 1rem;
	/* 46px - 56px */
	line-height: clamp(2.875rem, 5.5vw, 3.5rem);
	text-decoration: none;
	font-weight: 700;
	margin: 0;
	color: #fff;
	padding: 0 1.5rem;
	background-color: var(--primary);
	border-radius: 12px;
	display: inline-block;
	position: relative;
	z-index: 1;
	border: none;
}
.cs-button-solid:before {
	content: "";
	position: absolute;
	display: block;
	height: 100%;
	width: 0%;
	background: #000;
	opacity: 1;
	top: 0;
	left: 0;
	z-index: -1;
	transition: width 0.3s;
	border-radius: 12px;
}
.cs-button-solid:hover:before {
	width: 100%;
	border-radius: 12px;
}

@media (max-width: 767px) {
	.mobile {
		display: block;
	}
}
