.servicesContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	color: var(--color-text-dark);
	font-family: var(--font-body);
	box-sizing: border-box;
	overflow: hidden;
	padding-top: 2rem;
}

.servicesTitle {
	font-size: 2.5rem;
	margin-bottom: 0;
	color: var(--color-text-dark);
}

.servicesIntro {
	font-size: 1.5rem;
	line-height: 1.6;
	color: var(--color-text-dark);
	max-width: 800px;
	text-align: center;
	box-sizing: border-box;
	margin-bottom: 8rem;
}

.serviceHeader {
	margin: 0;
	padding: 0 2rem;
	font-family: var(--font-headings);
	justify-self: center;
	font-size: 2rem;
	box-sizing: border-box;
	text-align: center;
}
.serviceSubheader {
	margin: 0;
	padding: 0 2rem;
	font-style: italic;
	font-family: var(--font-headings);
	justify-self: center;
	font-size: 2rem;
	box-sizing: border-box;
	text-align: center;
}

.serviceContent {
	display: flex;
	box-sizing: border-box;
	align-items: center;
	position: relative;
	padding: 2rem 0;
	min-height: 50vw;
	max-width: 1000px;
}

.infoAndCtaColumn {
	display: flex;
	flex-direction: column;
	min-width: 55%;
	align-items: center;
	gap: 2rem;
	box-sizing: border-box;
}
.serviceImageContainer {
	position: relative;
	align-self: stretch;
	box-sizing: border-box;
	padding: 1rem;
}
.sewerLineImageContainer {
	min-width: 45%;
	aspect-ratio: 436/582;
}
.serviceDescription {
	font-family: var(--font-body);
	font-size: var(--text-size);
	margin: 0 2rem;
	box-sizing: border-box;
	text-align: center;
	white-space: pre-line;
}

.sewerLineSection {
	background-color: var(--color-primary);
}
.serviceSection {
	width: 100%;
	padding: 2rem 0;
	display: flex;
	justify-content: center;
}
.servicesSectionTitle {
	font-size: 2.5rem;
	text-align: center;
	margin-top: 2rem;
	color: var(--color-text-dark);
	background-color: var(--color-background);
	width: 100%;
	padding: 1rem;
	text-transform: uppercase;
	scroll-margin: 40px;
}
.servicesSectionIntro {
	font-size: 1.5rem;
	line-height: 1.6;
	color: var(--color-text-dark);
	text-align: center;
	max-width: 800px;
	padding: 1rem;
	margin: 0;
	box-sizing: border-box;
}
.newInstallContent {
	flex-direction: row-reverse;
}
.newInstallImageContainer {
	aspect-ratio: 447/596;
	min-width: 35%;
}
.inspectionSection {
	background-color: var(--color-background);
}
.inspectionContent {
	min-height: unset;
}
.maintenanceContent {
	min-height: unset;
}
.excavationSection {
	background-color: var(--color-primary);
}
.excavationContent {
	flex-direction: row-reverse;
}
.excavationImageContainer {
	aspect-ratio: 626/470;
	min-width: 40%;
}

.craft3Section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	width: 100%;
	background-color: var(--color-background);
}

.craft3Text {
	font-size: var(--text-size);
	max-width: 700px;
	text-align: center;
}
.craft3CtaButton {
	margin: 2rem 0;
}

.craft3CardContainer {
	width: 95%;
	aspect-ratio: 866/468;
	box-sizing: border-box;
	max-width: 866px;
	margin-bottom: 4rem;
}

.finalDivider {
	margin-bottom: 4rem;
}
@media (max-width: 767px) {
	.servicesIntro {
		padding: 0 1rem;
		margin-bottom: 4rem;
	}

	.serviceContent {
		flex-direction: column-reverse;
	}

	.maintenanceCtaButtonLink {
		width: 90%;
		display: flex;
		justify-content: center;
	}
}
