.formContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 1.5rem;
	border-radius: 12px;
	background-color: var(--color-background);
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	position: relative;
	box-sizing: border-box;
	margin: 0;
}

.contactForm {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.contactFormContainer {
	width: 100%;
	box-sizing: border-box;
	height: 100%;
}

.formInput,
.formTextarea {
	width: 100%;
	padding: 0.75rem;
	border-radius: 8px;
	border: 1px solid #ccc;
	font-size: var(--text-size);
	box-sizing: border-box;
	resize: none;
	margin: 0.5rem 0;
	background-color: white;
	font-family: var(--font-headings);
}

.formInput:focus,
.formTextarea:focus {
	border-color: #3b82f6;
	outline: none;
}

.formButton {
	padding: 0.75rem;
	background-color: var(--color-cta);
	color: #fff;
	border: none;
	font-size: 1.5rem;
	border-radius: 8px;
	align-items: end;
	cursor: pointer;
	transition: background-color 0.2s ease;
	font-family: var(--font-body);
	font-weight: 600;
}

.formButton:hover {
	background-color: var(--color-cta-hover);
	color: var(--color-text-dark);
}

.toast {
	margin-top: 0.5rem;
	background-color: #10b981;
	color: white;
	padding: 0.75rem 1.5rem;
	border-radius: 8px;
	text-align: center;
	animation: fadeInOut 3s ease forwards;
}

@media (max-width: 768) {
	.formContainer {
		padding: 1rem;
	}

	.formInput,
	.formTextarea {
		font-size: var(--text-size);
	}

	.formButton {
		font-size: 1.5rem;
		padding: 0.75rem;
	}

	.toast {
		font-size: 1.2rem;
		padding: 0.5rem 1rem;
	}
}

@keyframes fadeInOut {
	0% {
		opacity: 0;
	}
	10%,
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
